<div class="row"> 
  <div class="quotation">
    <% @misquotable.sections.each do |section| %>
      <div class="<%= section.name %>">
        <% if section.name == 'quote' %>
          <p>" <%= section.altered_text %>"</p>
        <% elsif section.name == 'title' %>
          <p><%= section.altered_text.titleize %></p>
        <% else %>
          <p><%= section.altered_text %></p>
        <% end %>
      </div>
    <% end %>
  <div class="link">
    <a href=<%= @misquotable.link %> target="blank">View the original story at NPR</a>
  </div>
  </div>
</div>
